* {
    margin:0px;
    padding:0px;
}

.mi_color {
    background-color: black
}
footer {
    color: white;
    min-height: 100%;
    background-color: black;
    margin-top: 10px;
     }
    footer .footer-content {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
     }
  